@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;

.info {
  padding: 2rem 1.5rem 10rem;
  background-color: $light-background;
  height: 100%;

  @include desktop{
    margin-left: 103px;
  }

  &__back {
    display: flex;
    align-items: center;

    @include tablet{
      width: 688px;
      margin: 0 auto;
    }

    @include desktop{
      width: 730px;
    }

    &:hover {
      cursor: pointer;
    }

    &-arrow {
      height: 8px;
      margin-bottom: 2px;
    }

    &-header {
      @include invoiceHeader;
      margin-left: 1.5rem;
    }
  }

  &-main {
    background-color: white;
    padding: 1.5rem;
    border-radius: 8px;
    margin: 0 auto;

    @include tablet{
      padding: 2rem;
      max-width: 688px;
    }

    @include desktop{
      max-width: 730px;
    }

    &__flexbox{
      @include tablet{
        display: flex;
        justify-content: space-between;
      }
    }

    &--black {
      @include invoiceHeader;
    }

    &--grey {
      @include invoiceSubheader;
      line-height: 18px;
    }

    &--white {
      @include invoiceSubheader;
      line-height: 18px;
      color: white;
    }

    &__subheader {
      @include invoiceSubheader;
      margin-bottom: 13px;
    }

    &__container {
      margin-bottom: 2rem;
    }

    &--margin {
      margin-bottom: 7px;
    }

    &__body {
      &-top {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem 4rem;
        margin-bottom: 2rem;

        @include tablet{
          gap: 2rem 7.375rem;
        }
      }
    }

    &__dates {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  &__dark {
    background-color: $dark-background;

    &--header {
      color: white;
    }
    &--div{
        background-color: $darkblue-darker;
    }
  }
}

.buttons{
    height: 91px;
    width: 100%;
    background-color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border: none;

    @include tablet{
      display: none;
    }

    &__button{
      @include buttonfont;
      height: 48px;
      color: white;
      border: none;
      cursor: pointer;

      &:hover{
        transform: translate(0 , -5px);
      }
    }

    &--edit {
      @include greyButton;

      &-dark{
        background-color: $darkblue;
        color: $grey-light;
      }
    }

    &--delete{
      @include orangeButton;
    }

    &--paid{
      background-color: $purple;
      width: 149px;
      border-radius: (149px * 0.50);

      &:hover{ 
        box-shadow: 0px 4px rgba($purple, 0.8);
      }

      &:active{
        transform: translate(0 , -3px);
        box-shadow: 0px 2px rgba($purple, 0.8);
      }
    }

    &--dark{
      background-color: $darkblue-darker;
    }
}