@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;

.info {
  padding: 2rem 1.5rem 10rem;
  background-color: $light-background;
  height: 100%;

  &__back {
    display: flex;
    align-items: center;

    &:hover {
      cursor: pointer;
    }

    &-arrow {
      height: 8px;
      margin-bottom: 2px;
    }

    &-header {
      @include invoiceHeader;
      margin-left: 1.5rem;
    }
  }

  &-status {
    background-color: white;
    border-radius: 8px;
    height: 91px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    margin: 2rem 0 1rem;

    &__header {
      @include invoiceSubheader;
    }

    &__box {
      background-color: rgba($status-orange, 0.1);
      height: 40px;
      width: 104px;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
    }

    &__circle {
      width: 8px;
      height: 8px;
      background-color: $status-orange;
      border-radius: 50%;
    }

    &__status {
      @include invoiceHeader;
      color: $status-orange;
    }
  }

  &-main {
    background-color: white;
    padding: 1.5rem;
    border-radius: 8px;

    &--black {
      @include invoiceHeader;
    }

    &--grey {
      @include invoiceSubheader;
      line-height: 18px;
    }

    &--white {
      @include invoiceSubheader;
      line-height: 18px;
      color: white;
    }

    &__subheader {
      @include invoiceSubheader;
      margin-bottom: 13px;
    }

    &__container {
      margin-bottom: 2rem;
    }

    &--margin {
      margin-bottom: 7px;
    }

    &__body {
      &-top {
        display: flex;
        gap: 4rem;
        margin-bottom: 2rem;
      }
    }

    &__dates {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  &__dark {
    background-color: $dark-background;

    &--header {
      color: white;
    }
    &--div{
        background-color: $darkblue-darker;
    }
  }
}

.charge {
  margin: 2rem 0 0;
  background-color: $button-grey;
  border-radius: 8px;

  &__single {
    padding: 0 2rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:first-child {
      padding: 2rem;
    }
  }

  &__black {
    @include invoiceHeader;
  }

  &__calculate {
    @include invoiceHeader;
    color: $font-blue;
    margin-top: 0.5rem;
  }

  &__grand-total {
    background-color: $black;
    padding: 2.5rem 2rem;
    display: flex;
    justify-content: space-between;
    color: white;
    border-radius: 0 0 8px 8px;
  }

  &__dark{
    &--div{
        background-color: $darkblue;
    }

    &--black{
        background-color: $black-hover;
    }

    &--text{
        color: white;
    }
  }
}

.buttons{
    height: 91px;
    width: 100%;
    background-color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border: none;

    &__button{
      @include buttonfont;
      height: 48px;
      color: white;
      border: none;

      &:hover{
        transform: translate(0 , -5px);
      }
    }

    &--edit {
      background-color: $button-grey;
      color: $font-blue;
      height: 48px;
      width: 73px;
      border-radius: (73px * 0.50);

      &-dark{
        background-color: $darkblue;
        color: $grey-light;
      }

      &:hover{ 
        box-shadow: 0px 4px rgba($black, 0.4);
      }

      &:active{
        transform: translate(0 , -3px);
        box-shadow: 0px 2px rgba($black, 0.4);
      }
    }

    &--delete{
      background-color: $button-orange;
      width: 89px;
      border-radius: (89px * 0.50);

      &:hover{ 
        box-shadow: 0px 4px rgba($button-orange, 0.8);
      }

      &:active{
        transform: translate(0 , -3px);
        box-shadow: 0px 2px rgba($button-orange, 0.8);
      }
    }

    &--paid{
      background-color: $purple;
      width: 149px;
      border-radius: (149px * 0.50);

      &:hover{ 
        box-shadow: 0px 4px rgba($purple, 0.8);
      }

      &:active{
        transform: translate(0 , -3px);
        box-shadow: 0px 2px rgba($purple, 0.8);
      }
    }

    &--dark{
      background-color: $darkblue-darker;
    }
}