@use '../../styles/partials/colors' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/fonts' as *;

.invoice{
    margin: 1rem 1.5rem;
    padding: 1.5rem;
    border-radius: 8px;
    background-color: white;

    &--dark{
        background-color: $darkblue-darker;
    }

    &--hashtag{
        color: $font-blue;
    }

    &__top-section{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__header{
        @include invoiceHeader;

        &--dark{
            color: white;
        }
    }

    &__subheader{
        @include invoiceSubheader;

        &--dark{
            color: $grey-light;
        }
    }

    &__bottom-section{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1.5rem;
    }

    &__info-section{
        display: flex;
        flex-direction: column;
        gap: 9px;
    }

    &__status{

        &-section{
            width: 104px;
            height: 40px;
            border-radius: 4px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8px;
        }

        &-green{
            width: 8px;
            height: 8px;
            background-color: $status-green;
            border-radius: 50%;
        }

        &-orange{
            width: 8px;
            height: 8px;
            background-color: $status-orange;
            border-radius: 50%;
        }

        &-header{
            @include spartanFont(0.9375rem, bold, none, -0.25px);
            text-transform: capitalize;
        }

        &-paid{
            background-color: rgba($status-green, 0.1);
            color: $status-green;
        }

        &-pending{
            background-color: rgba($status-orange, 0.1);
            color: $status-orange;
        }
    }
}