@use '../../styles/partials/colors' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/fonts' as *;

.invoice-list{
    background-color: $light-background;
    height: 100%;
}

.invoice-list--dark{
    background-color: $dark-background;
}