$purple: #7C5DFA;
$purple-light: #9277FF;

$button-darkblue-hover: #1E2139;
$button-darkblue: #252945;

$grey-light: #DFE3FA;
$grey: #888EB0;

$black: #373B53;
$black-hover: #0C0E16;


$font-white: #FFFFFF;
$font-blue: #7E88C3;

$button-orange: #EC5757;
$button-orange-hover: rgb(255, 151, 151);

$light-background: #F8F8FB;
$dark-background: #141625;