$purple: #7C5DFA;
$purple-light: #9277FF;

$darkblue-darker: #1E2139;
$darkblue: #252945;

$grey-light: #DFE3FA;
$grey: #888EB0;

$black: #373B53;
$black-hover: #0C0E16;


$font-white: #FFFFFF;
$font-blue: #7E88C3;

$button-orange: #EC5757;
$button-orange-hover: rgb(255, 151, 151);

$light-background: #F8F8FB;
$dark-background: #141625;

$subheader-grey: #858BB2;
$status-green: #33D69F;
$status-orange: #FF8F00;

$button-grey: #F9FAFE;