@use '../../styles/partials/colors' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;

.InvoiceHeader{
    padding: 2rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__buttons{
        display: flex;
        align-items: center;
        gap: 1.5rem;
    }

    &__header{
        @include spartanFont(1.5rem, bold, black, -0.75px);

        &--dark{
            color: white;
        }
    }
    &__subheader{
        @include spartanFont(0.8125rem, medium, $grey, -0.1px);

        &--dark{
            color: $grey-light;
        }
    }
}

.buttons{
    &__filter{
        display: flex;
        align-items: center;
        &--text{
            @include spartanFont(0.9375rem, bold, black, -0.25px);
            margin-right: 12px;
        }

        &--dark-text{
            color: white;
        }
    }
    &__new{
        display: flex;
        align-items: center;
        gap: 8px;
        @include purpleButton;

        &--text{
            @include spartanFont(0.9375rem, bold, white, -0.25px);
            margin-top: 4px;
        }
    }
    &__plus{
        width: 10px;
        height: 10px;
        &--div{
            width: 32px;
            height: 32px;
            border-radius: 50%;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 6px;
        }
    }
}