@use '../../styles/partials/colors' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;

.InvoiceHeader{
    padding: 2rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__buttons{
        display: flex;
        align-items: center;
    }
}

.buttons{
    &__new{
        @include purpleButton;
        display: flex;
    }
    &__plus{
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-color: white;
    }
}